:root {
  --main-bg-color: #ffafbd;
  --sub-bg-color: #ffc3a0;
  --gray-light: #eeeeee;
  --main-text-color: #212121;
  --check-color: #00e676;
  --close-color: #ff1744;
}

@font-face {
  font-family: 'ONE-Mobile-POP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: ONE-Mobile-POP;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}
